.carousel-container {
  height: 100%;
  position: relative;
  z-index: 11;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
.carousel-container .carousel-list {
  width: 100%;
  min-height: 800px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  z-index: 10;
}

.carousel-container .carousel-list .carousel-list-item {
  overflow: hidden;
  position: absolute;
  left: 0%;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s linear;
  z-index: 10;
}

.carousel-container .carousel-list .carousel-list-item.active {
  transform: translate(0, 0);
  width: 100%;
}
.carousel-container .carousel-list .carousel-list-item.prev-clone {
  transform: translateX(-100%);
}

.carousel-container .carousel-list .carousel-list-item.next-clone {
  transform: translateX(100%);
}
.carousel-container .prev-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 13;
}

.carousel-container .next-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 13;
}
