.next-button {
  padding: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border: 1px solid #111;
  transition: all 0.2s linear;
  background-color: transparent;
}

.next-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
