.carousel-actions {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 14;
}

.carousel-actions .action-button {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.carousel-actions .action-button:hover {
  cursor: pointer;
}

.carousel-actions .action-button.active-action-button {
  transform: scale(1.3);
  background-color: rgb(172, 140, 140);
}
