.header-conntainer {
  background-color: rgb(70, 70, 167);
}

.header-conntainer .header-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding: 10px 40px;
}
